@mixin region($color) {
  g {
    cursor: pointer;
    pointer-events: all;

    $stroke-width: 6;

    > .land {
      fill: $color !important;
      stroke: #000000;
      stroke-width: $stroke-width;
      stroke-linecap: butt;
      stroke-linejoin: bevel;
      stroke-miterlimit: 4;
      stroke-dasharray: none;
      stroke-opacity: 1;
      transition: all .1s ease-out;
    }

    &:hover {
      > .land {
        fill: darken($color, 10%) !important;
        stroke-width: $stroke-width * 1.75;
      }
    }
  }
}

